@page "/DeleteEmployee/{CurrentID}"
@using MyBlazorApp.Data
@inject EmployeeService objEmployeeService
@inject NavigationManager navigationManager

<h2>Delete Employee</h2>
<hr />

<h3>Are you sure you want to delete this Record?</h3>

<div class="row">
	<div class="col-md-8">
		<div class="form-group">
			<label>Employee ID:</label>
			<label>@employee.EmployeeId</label>
		</div>
		<div class="form-group">
			<label>Name:</label>
			<label>@employee.Name</label>
		</div>
		<div class="form-group">
			<label>City:</label>
			<label>@employee.City</label>
		</div>
		<div class="form-group">
			<label>Country:</label>
			<label>@employee.Country</label>
		</div>
		<div class="form-group">
			<label>Gender:</label>
			<label>@employee.Gender</label>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<input type="button" class="btn btn-danger" @onclick="@DeleteEmployees" value="Delete" />
				<input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public string CurrentID { get; set; }

	EmployeeInfo employee = new EmployeeInfo();

	protected override async Task OnInitializedAsync()
	{
		employee = await Task.Run(() => objEmployeeService.GetEmployeeById(Convert.ToInt32(CurrentID)));
	}

	protected void DeleteEmployees()
	{
		objEmployeeService.DeleteEmployee(employee);
		navigationManager.NavigateTo("Employee");
	}

	void Cancel() { navigationManager.NavigateTo("Employee"); }

}

<style>
	.btn {
		margin-right: 3px;
	}

</style>