@page "/employee"
@using MyBlazorApp.Data
@inject EmployeeService objEmployeeService


<NavLink class="nav-link" href="AddEmployee">
	<span class="oi oi-plus" aria-hidden="true"></span>Add New
</NavLink>

<h1>Employee Information</h1>

@if (employee == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>EmployeeId</th>
				<th>Name</th>
				<th>City</th>
				<th>Country</th>
				<th>Gender</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var emp in employee)
			{
				<tr>
					<td>@emp.EmployeeId</td>
					<td>@emp.Name</td>
					<td>@emp.City</td>
					<td>@emp.Country</td>
					<td>@emp.Gender</td>
					<td class="tabLink">
						<a class="nav-link" href="EditEmployee/@emp.EmployeeId">
							<span class="oi oi-pencil" aria-hidden="true"></span>Edit
						</a>
						<a class="nav-link" href="DeleteEmployee/@emp.EmployeeId">
							<span class="oi oi-trash" aria-hidden="true"></span>Delete
						</a>

					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	List<EmployeeInfo> employee;

	protected override async Task OnInitializedAsync()
	{
		employee = await Task.Run(() => objEmployeeService.GetEmployees());
	}
}

<style>
	.tabLink {
		display: flex;
		flex-direction: row;
	}

	.oi {
		padding-right: 5px;
	}
</style>